.clear {
	clear: both;
}
.pointer {
	cursor: pointer;
}
img {
	margin-width: 100%;
	height: auto !important;
}
.shadow {
	-moz-box-shadow: 7px 7px 8px #444;
	-webkit-box-shadow: 7px 7px 8px #444;
	box-shadow: 7px 7px 8px #444;
}
.paint {
	font-family: 'Finger Paint', cursive;
}
.square {
	font-family: 'Nova Square', Arial, sans-serif;
}
body {
	font-family: 'Almost Noteworthy';
	color: #6c757d;
}
a {
	color: #6c757d;
}
a:hover {
	color: #6c757d;
}
.top-left, .top-right {
	margin: 20px;
	line-height: 1;
}
.btn-xxl {
	padding: 1.5rem 3rem;
	font-size: 1.75rem;
	border-radius: .6rem;
}
.btn-expand {
	position: absolute;
	left: 50%;
	margin-left: -15px;
	z-index: 10;
}
.secret-link {
	position: fixed;
	bottom: 0;
	left: 0;
	font-size: 50px;
	width: 60px;
	height: 60px;
	line-height: 1;
	text-align: center;
	z-index: 11;
}
.version-one {
	left: 0;
}
.version-two {
	left: 60px;
}
.resume-link {
	left: 120px;
}
.secret-link:hover {
	text-decoration: none;
	color: #6c757d;
}
.secret {
	color: transparent;
}

/* BACKGROUND */
.full-screen {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.main-bg {
	transition: background 1s linear;
}
.bg-black {
	background-color: black;
}

/* TITLE */
.title-text {
	font-family: 'Finger Paint', cursive;
	font-size: 100px;
	text-align: center;
	line-height: 1;
}
.center {
	padding-top: 25%;
}
@media ( max-width: 544px ) {
	.title-text{
		font-size: 60px;
	}
}

/* DROPDOWN */
.dropdown-menu {
	padding: 0;
	border-radius: 0;
	min-width: 285px;
}
.dropdown-menu li a {
	padding: 15px 30px;
	display: block;
	font-size: 30px;
}
.dropdown-menu li a:hover {
	background-color: #f1f1f1;
	text-decoration: none;
}

/* MODAL */
.modal-90 {
	position: absolute;
	top: 5%;
	right: 0;
	bottom:	0;
	left: 0;
	max-width: 100%;
}
.modal-90 .modal-content, .modal-90 .modal-content .modal-body {
	height: 100%;
	overflow-y: auto;
}
.modal .modal-content {
	border: solid 5px white;
	background-color: black;
}
@media ( min-width : 575px ) {
	.modal-90 {
		position: absolute;
		top: 5%;
		right: 5%;
		bottom:	5%;
		left: 5%;
		max-width: 90%;
	}
	.modal-90 .modal-content, .modal-90 .modal-content .modal-body {
		height: 100%;
		overflow-y: auto;
	}
}
.modal-100 {
	top: 0;
	right: 0;
	bottom:	0;
	left: 0;
	max-width: 100%;
	margin: 0;
}
