[main]
Description=
Host=206.246.141.101
AuthType=1
GroupName=compendiumvpn
GroupPwd=
enc_GroupPwd=74084D59B6D229E97D47128A41A78E22B2D07FBD701B8610DE4F484AF8292109B9E9ED3DAAA07DE8DF1FF129B75FE734BB555F8E35535D9E
EnableISPConnect=0
ISPConnectType=0
ISPConnect=
ISPPhonebook=
ISPCommand=
Username=dmartin
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=0
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=0
