.clear{
clear:both;   
}
.fog60{
background-image: url('../images/fog_60.png');	
}
.show{
display: block;
}
.hide{
display: none;
}
a {
text-decoration: none;   
color: #000000;
}
a:hover{
text-decoration: underline; 
}
.shadow {
-moz-box-shadow: 7px 7px 8px #444;
-webkit-box-shadow: 7px 7px 8px #444;
box-shadow: 7px 7px 8px #444;
}
.paint{
font-family: 'Finger Paint', cursive;
}
.square{
font-family: 'Nova Square', Arial, sans-serif;
}
.apple{
font-family: 'Homemade Apple', cursive;
}
/*BACKGROUND IMAGES*/
.background-cardboard{
background-image: url('../images/cardboard_background.jpg');
background-position: 0% 0%;
}
.background-top{
background-color: transparent;
background-image: url('../images/fireball_pouring.png');
background-position: 0% 0%;
background-repeat: no-repeat;
}
.background-middle{
background-color: transparent;
background-image: url('../images/fireball_rain.png');
background-position: 0% 0%;
background-repeat: both;
}
.background-bottom{
background-color: transparent;
background-image: url('../images/fireball_pile_one_third.png');
background-position: 0% 100%;
background-repeat: repeat-x;
}
/*HEADER*/
.header{
height: 200px;
}
.header-text{
font-family: 'Finger Paint', cursive;
font-size: 130px;
color: #4CF748;
text-align: center;
}
/*MENU*/
.menu{
padding: 5px;   
}
.menu ul li{
list-style: none outside none;
display: inline;
padding: 5px auto;
}
.menu ul li a{
font-size: 20px;
padding: 5px 30px;
margin: 20px;
background-color: #ffffff;
}
/*CONTENT*/
.sub-content{
width: 600px;
margin: 0 33px;
padding: 15px;
}
#tm-div img{
margin: 10px;
float: left;
}
#pic1, #pic2, #pic3, #pic4, #pic5, #pic6, #pic7, #pic8, #pic9, #pic10, #pic11, #pic12, #pic13{
display:none;
position: fixed;
top: 50%; left: 50%;
z-index: 99999;
border: 5px black solid;
background-color: #F26722;
}
/*SIDEBAR*/
.sidebar{
margin-top: 10px;   
}
.sidebar .widget{
background-color: #ffffff;
border-radius: 8px;
width: 100%;
padding: 5px;
margin-bottom: 20px;
}
.sidebar h3 {
font-size: 22px;
border-bottom: 3px solid #000000;
margin-bottom: 10px;
}
/*TWITTER BOX*/
#twitter-box{
display: none;
position: absolute;
top: 235px;
left: 215px;
width: 300px;
}
.twtr-tweets{
padding: 10px;
}
/*Blog Posts*/
#blog-post-list{
display: none;
position: absolute;
top: 1440px;
left: 220px;
width: 300px;
background-color: #fff;
padding: 10px;
border-radius: 8px;
}
#blog-post-list ul li{
padding:5px 0;
border-bottom: 1px solid #ccc;
}
.Date-Author{
font-size: 12px;
color: red;
}
/* SCORE SHEET FORM */
#score-sheet {
display:none;
background: purple;
padding: 5px; 	
border: 2px solid #000000;
float: left;
position: fixed;
top: 50%; left: 50%;
z-index: 999;
box-shadow: 0px 0px 20px #999; /* CSS3 */
border-radius:3px 3px 3px 3px;
text-align: center;
}
#score-sheet td, #score-sheet th{
color: white;
text-align: center;
width: 70px;
font-size: 22px;
}
#score-sheet #scoresheet input{
height: 25px;
width: 95px;
font-size: 20px;
text-align: center;
}
#totalscore{
border: #000 solid 3px;
}
#totalscore td{
border-right: #000 solid 3px;
}
#totalscore input{
font-weight: bold;
}
#player-picker{
color: white;
float: left;
margin-left: 10px;
margin-bottom: 5px;
}
#game-picker{
color: white;
float: right;
margin-right: 10px;
margin-bottom: 5px;
}
#reset{
position: absolute;
right: 5px;
bottom: 5px;
background-color: red;
border: solid #000 1px;
border-radius: 4px;
}
#calculate{
font-size: 22px;
border-radius: 8px;
background-color: yellow;
border: solid #000 2px;
}
.player5{
display:none;
}
.player6{
display:none;
}
.player7{
display:none;
}
.player8{
display:none;
}
#rowone{
display:none;
}
#rowtwo{
display:none;
}
/* POP UP FORM */
#popupform {
display:none;
background: Red;
padding: 5px; 	
border: 2px solid #000000;
float: left;
font-size: 1.2em;
position: fixed;
top: 50%; left: 50%;
z-index: 999;
box-shadow: 0px 0px 20px #999; /* CSS3 */
border-radius:3px 3px 3px 3px;
text-align: center;
}
#popupform .widget.html { 
background: #ffffff;
margin: 0px;
padding: 0px;
border-radius: 0;
}
#mask {
display: none;
background: #ffffff; 
position: fixed; left: 0; top: 0; 
z-index: 10;
width: 100%; height: 100%;
opacity: 0.8;
z-index: 998;
}
#clearmask {
display: none;
background: transparent; 
position: fixed; left: 0; top: 0; 
z-index: 10;
width: 100%; height: 100%;
z-index: 998;
}
#blackmask {
display: none;
background: #000; 
position: fixed; left: 0; top: 0; 
z-index: 10;
width: 100%; height: 100%;
z-index: 998;
}
/*More Pop Up Form CSS*/
#form_container {
width: 345px;
padding: 5px;
background-color: #ffffff;
text-align: left;
font-size: 15px;
}
#form_container label {
float:left;
width: 65px;
text-align: center;
color: yellow;
}
#form_container .drop{
margin-top: 15px;
margin-right: 15px;
}
#form_container .form_item{
margin: 0;
padding: 5px 0;
}
#form_container .fire{
background-image: url('../images/fireball_60.png');
background-repeat: no-repeat;
min-height: 60px;
}
#form_container a{
color: #3C3D3C;
}
#form_container .form_item input{
border: solid 1px #69584d;
background: #fffcf6;
float:left;
width: 220px;
}
#form_container .form_item textarea{
border: solid 1px #69584d;
background: #fffcf6;
float: left;
}
#form_container .form_item button {
margin-left:100px;
margin-top: 10px;
height:auto;
font-size: 13px;
}
#cb_connect {
float: right;
}
/*SCOREBOARD*/
#scoreboard {
display:none;
background: black;
background-image: url('../images/metallic-bg1.jpg');
padding: 5px; 	
border: 5px solid green;
float: left;
position: fixed;
top: 50%; left: 50%;
z-index: 999;
box-shadow: 0px 0px 20px #999; /* CSS3 */
border-radius:3px 3px 3px 3px;
text-align: center;
height: 416px;
}
#timer{
position:absolute;
top: 170px;
left: 261px;
}
.numeral{
height: 40px;
}
#countdownDisp{
background-color: black;
width: 148px;
margin: 0 auto;
}
.team-score{
margin: 10px;
text-align:center;
float:left;
}
.teamname{
font-size: 30px;
background-color: black;
color: white;
border: none;
width: 310px;
float: left;
}
.score{
float: left;
font-size: 110px;
text-align: center;
width: 160px;
color: green;
border: white 5px solid;
background-color: black;
margin-left: 70px;
margin-top: 30px;
height: 200px;
}
.plusbtn{
float: left;
font-size: 50px;
background-color: black;
color: white;
border: none;
margin-top: 15px;
margin-left: 128px;
}
.minusbtn{
float:left;
margin-top:40px;
background-color:black;
color: white;
border: none;
}
#resetscore{
background-color:black;
color: white;
border: none;
}
/*EUCHER SCOREBOARD*/
#score-eucher {
display:none;
background: black;
padding: 5px; 	
border: 3px solid white;
float: left;
position: fixed;
width: 450px;
top: 50%; left: 50%;
z-index: 999;
box-shadow: 0px 0px 20px #999; /* CSS3 */
border-radius:3px 3px 3px 3px;
text-align: center;
}
.eucher-team-score{
margin: 10px;
text-align:center;
float:left;
width: 430px;
}
.eucherteamname{
font-size: 30px;
background-color: black;
color: white;
border: none;
width: 300px;
float: left;
margin-bottom: 20px;
margin-top: 5px;
}
.eucherscore{
float: left;
font-size: 40px;
text-align: center;
width: 40px;
color: white;
border: white 2px solid;
background-color: black;
margin-left: 20px;
margin-top: 0px;
padding: 0 5px;
}
.wins-losses{
display: none;
}
.scorecontainer{
margin: 0 auto;
width: 305px;
}
.overallscore{
font-size: 25px;
padding: 3px 0px;
}
#homeeucherteamname, #awayeucherteamname{
float: left;
color: #ffffff;
margin-left: 20px;
margin-top: 5px;
}
.eucherhomeplus1btn, .eucherawayplus1btn, .eucherhomeplus2btn, .eucherawayplus2btn, .eucherhomeplus4btn, .eucherawayplus4btn {
float: left;
font-size: 30px;
background-color: black;
color: white;
border: none;
margin-top: 15px;
margin-left: 40px;
border: 2px solid green;
padding: 0 8px;
border-radius: 20px;
-moz-border-radius: 22px;
}
.eucherhomeminusbtn, .eucherawayminusbtn{
float: left;
font-size: 30px;
background-color: black;
color: white;
border: none;
margin-top: 15px;
margin-left: 90px;
border: 2px solid red;
padding: 0 9px;
border-radius: 20px;
}

@-moz-document url-prefix(){
	.eucherhomeplus1btn, .eucherawayplus1btn, .eucherhomeplus2btn, .eucherawayplus2btn, .eucherhomeplus4btn, .eucherawayplus4btn {
	border-radius: 22px;
	}
	.eucherhomeminusbtn, .eucherawayminusbtn{
	border-radius: 22px;
	padding: 0 8px;
	}
}

#eucherresetscore{
background-color:black;
color: white;
border: none;
}
.scoremarker{
background-image: url('../images/scoremarkers.png');
background-repeat: no-repeat;
background-position: 0 10px;
}
.separator{
border-top: white solid 1px;
margin-top: 10px;
height: 10px;
width: 100%;
}
.opencloseteamscore{
position: absolute;
top: 187px;
right: 2px;
}
/*FOOTER*/
.footer{
height: 150px;
}
/*Bullet Holes*/
#bulletholes{
display: none;
position: fixed;
top:0;
left:0;
z-index: 1000;
}
#bulletholes {
display:none;
float: left;
position: fixed;
border: solid black 1px;
width: 600px;
height: 600px
top: 50%; left: 50%;
z-index: 999;
}
#hole1{
display:none;
position: absolute;
top:70px;
left:0px;
}
#hole2{
display:none;
position: absolute;
top:10px;
left:300px;
}
#hole3{
display:none;
position: absolute;
top:310px;
left:85px;
}
#hole4{
display:none;
position: absolute;
top:350px;
left:365px;
}
#hole5{
display:none;
position: absolute;
top:225px;
left:225px;
}
#hole6{
display:none;
position: absolute;
top:165px;
left:360px;
}
#hole7{
display:none;
position: absolute;
top:410px;
left:205px;
}
#hole8{
display:none;
position: absolute;
top:465px;
left:365px;
}