# .htaccess Reverse Proxy
RewriteEngine On
RequestHeader set X-Compendium-Id 758c2424-6055-4d3e-880c-4021718d814e
RewriteRule (.*)$ http://www.compendiumblog.com/successbucket/$1 [L,P]



# PHP Reverse Proxy
#RewriteEngine On
#RewriteBase /successbucket
#RewriteRule (.*) reverse-proxy.php
